@{
    ViewData["Title"] = "Home Page";
}

<head>
    <button><a href="~/Account/Login/">Войти в личный кабинет</a></button>
</head>


<div class="text-center">
    <h1 class="display-4">Добро пожаловать в наш интернет магазин MobileStore</h1>
    <button><a href="~/Phone/GetPhone/">Перейти в каталог</a></button>

</div>
